<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037314246608-7oic71slcftqn0u7habsvin5q19n78gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037314246608-7oic71slcftqn0u7habsvin5q19n78gl</string>
	<key>API_KEY</key>
	<string>AIzaSyDiOnLx-TALor9EHcqqFVzOleSr8l33eNI</string>
	<key>GCM_SENDER_ID</key>
	<string>1037314246608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.tomtompodcast.com</string>
	<key>PROJECT_ID</key>
	<string>tomtompodcast-3fca1</string>
	<key>STORAGE_BUCKET</key>
	<string>tomtompodcast-3fca1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037314246608:ios:dfc2ba4ce96ec6c7e89bd5</string>
</dict>
</plist>